.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
  padding: 16px 24px;
  background-color: var(--header);
  border-bottom: 1px solid var(--border);
}
.socialLinks{
  margin-left: auto;

}

.brand {
  padding: 0px 16px;
  font-family: "Elsie Swash Caps", serif;
  font-style: bold;
  font-size: 26px;
  font-weight: 600;
  color: var(--text-h);
  text-decoration: none;
  transition: color 0.25s ease, transform 0.25s ease;
}

.brand:hover {
  color: var(--text-h-hover);
  transform: scale(1.15);
}

.links {
  display: flex;
  align-items: start;
  align-items: center;
  gap: 16px;
  margin-right: auto;
}

