.navbar {
  display: flex;
  justify-content: start;
  column-gap: 32px;
  padding: 16px 24px;
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
}

.brand {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-h);
  text-decoration: none;
  transition: transform 0.25s ease, filter 0.25s ease, text-shadow 0.25s ease;
}

.brand:hover {
  /* transform: translateY(-4px); */
  transform: scale(1.15);
  filter: brightness(1.2);
  text-shadow:
    0 0 8px var(--accent),
    0 0 16px var(--accent-border);
}

.links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.links a {
  color: var(--text);
  text-decoration: none;
  font-size: 15px;
}

.links a:hover {
  color: var(--text-h);

}

