:root {
  --text: #3E5Ba3;
  --text-h: #000000;
  --text-h-hover: #B57DDA;
  --bg: #e1d7e4;
  --border: #e1d7e4;
  --border-admin: #161616;
  --code-bg: #c8d4e8;
  --accent: #75CBD1;
  --accent-bg: #B57DDA;
  --accent-border: rgba(117, 203, 209, 0.5);
  --social-bg: #e1d7e4;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --linear-container: linear-gradient(180deg, #3E5Ba3 0%, #41478B 100%);
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Elsie Swash Caps', 'Ribeye', system-ui, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --henny-penny: "Henny Penny", system-ui;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
claro cinza (alice blue) - DAE8FB
rosa claro (thistle) - F2D2FF
verde azul (pearl aqua) - 75CBD1
Dusk blue - 3E5Ba3
deep navy - 0c0d45

Porcelain - FFfFF6
Bone - E8E2D4
Lilac Ash - AAA0BB
Lavender - B57DDA
French blue - 41478B

Soft blush - FFDBDA
Old rose - DB7F8E
Pale Slate - D5C5C8
Cool Steel - 9DA3A3
Taupe Grey - 604D53
*/
:root.dark {
  --text: #FFFFF6;
  --text-h: #FFFFF6;
  --text-h-hover: #DB7F8E;
  --linear-container: linear-gradient(180deg, #3E5Ba3 0%, #0c0d45 100%);
  --bg: #604D53;
  --linear-bg: linear-gradient(180deg, #3E5Ba3 0%, #0c0d45 100%);
  --border: #604D53;
  --code-bg: #131450;
  --accent: #75CBD1;
  --accent-bg: #DB7F8E;
  --accent-border: rgba(117, 203, 209, 0.5);
  --social-bg: #604D53;
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}



h1, h2, h3, h4 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--accent);
}
